/* Portfolio */
body {
  color: white;
  font-family: "Convergence", serif;
}

#navBar {
  font-weight: bold;

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
  }

  li a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
  }

  li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: white;
    bottom: -0.5em;
    transition: all ease-in-out 250ms;
  }

  li a:hover::after {
    width: 60%;
  }
}

body h1 {
  font-size: 50px;
  margin: 300px 300px;
}

body a {
  color: white;
}

.rounded {
  border-radius: 30px;
}

#aboutMe {
  padding: 2px 2px;
  width: 150px;
  background-color: #C4C4C4;
}
